<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings/>
    <connectionStrings/>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      <authentication> 區段可讓您設定
      ASP.NET 用來識別連入使用者的 
      安全性驗證模式。 
    -->
    <authentication mode="None" />

    </system.web>

</configuration>
